* {
  font-family: Raleway, sans-serif;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  box-sizing: border-box;
}

.header {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  text-align: center;
}
.header h3 {
  color: grey;
  margin-bottom: 10px;
}
.header h1 {
  margin-top: 0;
  font-size: 2.3em;
}

.menu {
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  border-bottom: 4px solid rgb(249, 154, 30);
}
.menu .button {
  padding: 15px 20px;
  font-size: 15px;
  color: rgb(70, 68, 68);
  font-weight: bold;
}
.menu .button:hover {
  background-color: rgb(249, 154, 30);
}
.menu .active {
  background-color: rgb(249, 154, 30);
}

.gallery {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.gallery .row {
  flex: 100%;
  display: flex;
  flex-direction: row;
}
.gallery .row .img_container {
  flex: 33.333%;
  height: 17vw;
  position: relative;
}
.gallery .row .img_container:hover .overlay {
  opacity: 1;
}
.gallery .row .img_container .overlay {
  position: absolute;
  background-color: rgba(5, 5, 5, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
}
.gallery .row .img_container .overlay h3 {
  position: absolute;
  top: 35%;
  left: 10%;
  color: white;
  font-size: bold;
}
.gallery .row .img_container .overlay .btn {
  position: absolute;
  top: 65%;
  left: 10%;
  width: 60%;
  height: 5%;
  background-color: rgb(249, 154, 30);
  color: black;
  padding: 10px;
  display: table;
}
.gallery .row .img_container .overlay .btn span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 15px;
}
.gallery .row .img_container .overlay .corner {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  font-size: 18px;
  color: white;
  width: 50px;
  height: 50px;
  background-color: rgb(249, 154, 30);
  display: table;
}
.gallery .row .img_container .overlay .corner i {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.gallery img {
  width: 100%;
  height: 17vw;
}

.footer_container {
  width: 100%;
  height: 800px;
  margin-top: 10%;
  background-color: black;
  position: relative;
}
.footer_container .section {
  width: 60%;
  height: 400px;
  display: flex;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer_container .section .col {
  flex: 33.333%;
  height: 100%;
  position: relative;
}
.footer_container .section .col .vertical_line {
  width: 5px;
  height: 30px;
  background-color: rgb(249, 154, 30);
  position: absolute;
  top: 30px;
  left: 20px;
}
.footer_container .section .col .head {
  position: absolute;
  top: 37px;
  left: 50px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
.footer_container .section .col .icon_machine {
  position: absolute;
  top: 90px;
  left: 20px;
  color: rgb(249, 154, 30);
  font-size: 30px;
}
.footer_container .section .col .icon_machine .constra {
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: Pacifico;
}
.footer_container .section .col .description {
  position: absolute;
  left: 20px;
  color: rgb(175, 170, 170);
  line-height: 1.6;
  top: 180px;
}
.footer_container .section .col .icons {
  position: absolute;
  left: 20px;
  color: rgb(175, 170, 170);
  top: 280px;
}
.footer_container .section .col .icons i {
  padding-right: 9px;
}
.footer_container .section .col .second_description {
  position: absolute;
  left: 20px;
  color: rgb(175, 170, 170);
  line-height: 1.6;
  top: 90px;
}
.footer_container .section .col .working_hours .days {
  position: absolute;
  left: 20px;
  color: rgb(175, 170, 170);
  top: 230px;
}
.footer_container .section .col .working_hours .hours {
  position: absolute;
  right: 10px;
  color: rgb(175, 170, 170);
  top: 230px;
}
.footer_container .section .col .working_hours .days2 {
  position: absolute;
  left: 20px;
  color: rgb(175, 170, 170);
  top: 255px;
}
.footer_container .section .col .working_hours .hours2 {
  position: absolute;
  right: 10px;
  color: rgb(175, 170, 170);
  top: 255px;
}
.footer_container .section .col .working_hours .days3 {
  position: absolute;
  left: 20px;
  color: rgb(175, 170, 170);
  top: 280px;
}
.footer_container .section .col .working_hours .hours3 {
  position: absolute;
  right: 10px;
  color: rgb(175, 170, 170);
  top: 280px;
}
.footer_container .section .col .term {
  position: absolute;
  left: 20px;
  color: rgb(175, 170, 170);
  width: 100%;
  top: 100px;
}
.footer_container .section .col .term i {
  padding-right: 10px;
}
.footer_container .section .col .term hr {
  background-color: rgba(175, 170, 170, 0.1);
  height: 1px;
  border: none;
  width: 100%;
}
.footer_container .section .col .term2 {
  position: absolute;
  left: 20px;
  color: rgb(175, 170, 170);
  width: 100%;
  top: 150px;
}
.footer_container .section .col .term2 i {
  padding-right: 10px;
}
.footer_container .section .col .term2 hr {
  background-color: rgba(175, 170, 170, 0.1);
  height: 1px;
  border: none;
  width: 100%;
}
.footer_container .section .col .term3 {
  position: absolute;
  left: 20px;
  color: rgb(175, 170, 170);
  width: 100%;
  top: 200px;
}
.footer_container .section .col .term3 i {
  padding-right: 10px;
}
.footer_container .section .col .term3 hr {
  background-color: rgba(175, 170, 170, 0.1);
  height: 1px;
  border: none;
  width: 100%;
}
.footer_container .section .col .term4 {
  position: absolute;
  left: 20px;
  color: rgb(175, 170, 170);
  width: 100%;
  top: 250px;
}
.footer_container .section .col .term4 i {
  padding-right: 10px;
}
.footer_container .section .col .term4 hr {
  background-color: rgba(175, 170, 170, 0.1);
  height: 1px;
  border: none;
  width: 100%;
}
.footer_container .section .col .term5 {
  position: absolute;
  left: 20px;
  color: rgb(175, 170, 170);
  width: 100%;
  top: 300px;
}
.footer_container .section .col .term5 i {
  padding-right: 10px;
}
.footer_container .section .col .term5 hr {
  background-color: rgba(175, 170, 170, 0.1);
  height: 1px;
  border: none;
  width: 100%;
}
.footer_container .footer {
  width: 100%;
  height: 100px;
  background-color: rgb(249, 154, 30);
  position: absolute;
  top: 75%;
}
.footer_container .footer .copyright {
  position: absolute;
  top: 37%;
  left: 20%;
  padding-left: 15px;
  font-size: 13px;
}
.footer_container .footer .footer_menu {
  position: absolute;
  top: 37%;
  left: 65%;
}
.footer_container .footer .footer_menu .footer_button {
  padding: 0 10px;
  font-size: 13px;
}
.footer_container .footer .arrow_up {
  position: absolute;
  top: 25%;
  right: 60px;
  width: 50px;
  height: 50%;
  background-color: black;
  display: table;
  border-radius: 10px;
}
.footer_container .footer .arrow_up i {
  color: rgb(249, 154, 30);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 13px;
}

@media only screen and (min-width: 150px) and (max-width: 800px) {
  .header {
    width: 100%;
  }
  .menu {
    display: block;
  }
  .gallery {
    display: block;
  }
  .gallery .row {
    display: block;
  }
  .gallery .row .img_container {
    height: 300px;
  }
  .gallery img {
    height: 300px;
  }
  .footer_container {
    height: 1300px;
  }
  .footer_container .section {
    display: block;
    top: 20%;
    width: 100%;
  }
  .footer_container .section .col {
    display: block;
  }
  .footer_container .footer {
    top: 100%;
  }
  .footer_container .footer .copyright {
    top: 20%;
    left: 5%;
  }
  .footer_container .footer .footer_menu {
    top: 60%;
    left: 5%;
  }
  .footer_container .footer .arrow_up {
    right: 30px;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1470px) {
  .header {
    width: 100%;
  }
  .menu {
    display: block;
  }
  .gallery {
    display: block;
  }
  .gallery .row {
    display: block;
  }
  .gallery .row .img_container {
    height: 500px;
  }
  .gallery img {
    height: 500px;
  }
  .footer_container {
    height: 1300px;
  }
  .footer_container .section {
    display: block;
    top: 20%;
    width: 100%;
  }
  .footer_container .section .col {
    display: block;
  }
  .footer_container .footer {
    top: 100%;
  }
  .footer_container .footer .copyright {
    top: 40%;
    left: 5%;
  }
  .footer_container .footer .footer_menu {
    top: 40%;
    left: 45%;
  }
  .footer_container .footer .arrow_up {
    right: 30px;
  }
}/*# sourceMappingURL=style.css.map */