* {
  box-sizing: border-box;
  font-size: 18px;
}

.header {
  text-align: center;
  width: 35%;
  margin: auto;
}
.header .header__title {
  font-size: 3.3em;
}
.header .header__subtitle {
  color: rgb(176, 163, 163);
}

.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.container .container__img {
  width: 400px;
  height: 350px;
}
.container .container__card {
  float: left;
  margin: 20px;
  width: 30%;
}
.container .container__card .container__text {
  color: rgb(176, 163, 163);
}
.container .container__card .container__button {
  padding: 15px 25px;
  border: 1px solid black;
  margin-top: 50px;
}
.container .container__desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .container__desc .container__desc__title, .container .container__desc .container__desc__price {
  font-size: 1.25em;
  font-weight: bold;
}
.container .container__desc .container__desc__price {
  color: red;
}

@media only screen and (max-width: 1800px) {
  .header {
    width: 70%;
  }
  .container {
    width: 100%;
  }
  .container .container__img {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container .container__card {
    float: none;
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .container .container__card .container__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container .container__card .container__text {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .container .container__desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .container .container__desc .container__desc__title, .container .container__desc .container__desc__price {
    font-size: 1.25em;
    font-weight: bold;
  }
  .container .container__desc .container__desc__price {
    font-size: 1.25em;
    font-weight: bold;
    color: red;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    width: 70%;
  }
  .container {
    width: 100%;
  }
  .container .container__img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container .container__card {
    float: none;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .container .container__card .container__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container .container__card .container__text {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .container .container__desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .container .container__desc .container__desc__title, .container .container__desc .container__desc__price {
    font-size: 1.25em;
    font-weight: bold;
  }
  .container .container__desc .container__desc__price {
    font-size: 1.25em;
    font-weight: bold;
    color: red;
  }
}/*# sourceMappingURL=style.css.map */