@mixin myFontStyle {
    font: {
        size: 1.25em;
        weight: bold;
    }
}
* {
    box-sizing: border-box;
    font-size: 18px;
}
.header {
    text-align: center;
    width: 35%;
    margin: auto;
    
    .header__title {
        font-size: 3.3em;
    }

    .header__subtitle {
        color: rgb(176, 163, 163);
    }
}
.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

    .container__img {
        width: 400px;
        height: 350px;
    }
    .container__card {
        float: left;
        margin: 20px;
        width: 30%;

        .container__text {
            color: rgb(176, 163, 163);
        }
        .container__button {
            padding: 15px 25px;
            border: 1px solid black;
            margin-top: 50px;
        }
    }
    .container__desc {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .container__desc__title {
            @include myFontStyle;
        }
        .container__desc__price {
            @extend .container__desc__title;
            color: red;
        }
    }
}

@media only screen and (max-width: 1800px) {
    .header {
        width: 70%;
    }

    .container {
        width: 100%;

        .container__img {
            width: 70%;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .container__card {
            float: none;
            width: 70%;
            height: auto;
            margin-left: auto;
            margin-right: auto;

            .container__button {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            .container__text {
                width: 70%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .container__desc {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            
            .container__desc__title {
                @include myFontStyle;
            }
            .container__desc__price{
                @include myFontStyle;
                color: red;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .header {
        width: 70%;
    }

    .container {
        width: 100%;

        .container__img {
            width: 100%;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .container__card {
            float: none;
            width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;

            .container__button {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            .container__text {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .container__desc {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            
            .container__desc__title {
                @include myFontStyle;
            }
            .container__desc__price {
                @include myFontStyle;
                color: red;
            }
        }
    }
}
